.x-form-invalid 
{
  background-color: #cc7777;
}

.x-form-readonly
{
  color: #666666;
}

.x-form-empty-field
{
  font-style: italic;
  color: #333333;
}

.ext-el-mask {
  /* .ext-el-mask-msg has 20001 */
  z-index: 20000;
}

img.kitto-preview-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.kitto-preview-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

iframe.kitto-preview-iframe {
  width: 100%;
  height: 100%;
}
